html{
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing: inherit;
}

body{
    font-family: sans-serif;
}


.one{
    margin-top: 80px;
}

.av{
    border-radius: 50%;
    width: 50px;
}

header ul{
    width: 55%;
    /* border: 1px solid black; */
    margin-right: 0;
    margin-left: auto;
    font-size: 0;
   
}

header ul li{
    list-style: none;
    display: inline-block;
    width: 25%;
    /* border: 1px solid black; */
    font-size: 16px;
    font-weight: bold;
    text-align: center;

}



hr{
    width: 97%;
}

h1{
    margin-bottom: 0;
    padding-bottom: 0;
}

h2{
    font-weight: normal;
    font-size: 14px;
    color: lightgray;
}

section{
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */

}

.card{
    width: 32em;
    padding-left: 10px;
    height: 255px;
    /* border: 1px solid black; */
    background: rgb(250,70,107);
background: linear-gradient(123deg, rgba(250,70,107,1) 0%, rgba(90,91,233,1) 100%);
padding-top: 10px;
}

.left, .right{
    width: 49%;
    /* border: 1px solid black; */
    display: inline-block;
 
}

.logo{
    width: 50%;
    text-align: center;
    /* border: 1px solid black; */
    margin-right: 0;
    margin-left: auto;
    margin-top: 25px;
    margin-bottom: 25px;

}

* .card{
    color: white;
    border-radius: 4px;
    font-size: 13px;
    font-family: consolas;
    margin: 0;
    
}

.visa{
    width: 40px;
}



.discover{
    padding-right: 20px;
    padding-bottom: 5px;
    width: 60px;
}

.paypal{
    width: 60px;
}


.card-details, .card-details-2{
    /* border: 1px solid black; */
    width: fit-content;
    display: inline-block;
}

.card-details *, .card-details-2 *{
    display: block;
}

.card-details{
    margin-right: 80px;
}



button{
    display: block;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 15px;
}

input{
    background: rgb(233, 230, 230);
    padding: 8px;
    margin-bottom: 25px;
    outline: none;
    border: 1px solid lightgrey;
}

label{
    padding-bottom: 10px;
}

.add-card{
    width: 100%;
    margin-bottom: 5px;
    padding: 25px;
    font-weight: bold;
    font-size: 18px;

}



.bold{
    font-weight: bold;
}

span{
    font-weight: normal;
    color: lightgray;
}

.item,.price{
    width: 49%;
    /* border: 1px solid black; */
    display: inline-block;
}

.price{
    text-align: right;
}

.payment{
    width: 20%;
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 25px;
    font-weight: bold;
    font-size: 18px;

    /* border: 1px solid black; */

}

#total{
    /* border: 1px solid black; */
    width: 79%;
    display: inline-block;
    text-align: right;
}

.space{
    letter-spacing: 1px;
}

.mastercard{
    /* border: 1px solid black; */
    margin-left: 17em;
}

.inline{
    display: inline-block;
    width: fit-content;
   
}



.exp{
    margin-bottom: 0;
    padding-bottom: 0;
}

input[type='text']{
    width: 250px;
    padding: 12px;
    border-radius: 1.5px;
}

input[type='text']:focus{
    outline: 1px solid rgb(233, 230, 230);
}